@import url(https://fonts.googleapis.com/css?family=Roboto:500,400);
body{
  	background-color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 300;
 }

.top-menu{
    float:right;
    margin-top: -70px;
    
}
.top-menu ul li {
    display:inline-block;
}
.top-menu ul li a{
    font-size:16px;
    padding: 30px;
    display:block;
    font-weight: 600;
}
.top-menu ul li.active a{
    background: linear-gradient(to bottom right, #50a3a2 0%, #63e9cc 100%);
    color:#fff;
    
    font-weight: 600;
}

.container{
    right: 0 px;
    top: 0px;
}

.Header{
   width: 100%;
   height: 80px;
   background: -webkit-linear-gradient(top left, #53e3a6 100%);
   background: linear-gradient(to bottom right, #50a3a2 0%, #63e9cc 100%);
   background-color: #53e3a6;
   position: fixed;
   top: 0px;
   left: 0px;
   border: 1px;
   border-bottom-right-radius: 5px;
   padding: 0px 0px 0px 30px;
}




.submitBtn{
    
    background:  rgba(255, 255, 255, 0.2);
    border: 0px;
    padding: 10px 15px 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 0 3px #000;
   
}





/*--------------Login Page------------------*/

.heading {
    background: #b9f4f6;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5em;
    margin-top: 4%;
    width: 27%;
    margin-left: 780px;

}


.logo{
    
    font-style: initial;
    color: gray;
    border:0 solid #fff; 
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}



.login{
   
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    height: 300px;
    border-width: 25px;
    box-shadow: 1px 1px 1px 1px #cfcfcf;
   
}


.login_username{
    
    width: 250px;
    outline: 0;
    border: 1px solid rgb(210, 215, 211);
    background: snow;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto -10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: gray;
    font-weight: 300;
 }

.login_username:hover{
    border: 1px solid rgb(239, 72, 54);
}



.login_password{
    
    
    width: 250px;
    outline: 0;
    border: 1px solid rgb(210, 215, 211);
    background: snow;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto -10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: gray;
    font-weight: 300;
   
}

.login_password:hover{
    border: 1px solid rgb(239, 72, 54);
}

.login_button{
    
    outline: 0;
    background-color: rgb(239, 72, 54);
    border: 0;
    padding: 10px 15px;
    color: snow;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
   
}

.login_button:hover {
    background-color: rgb(217, 30, 24);
}


.login-wrapper{
    
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
     height: 400px;
    margin-top: -200px;
    overflow: hidden;

}

.login-container {
    
    padding-top: 40px;
    padding-left: 425px;
    position: fixed;
}
 
}

.container h1 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    
}

.container h2 {
    font-size: 28px;
    color: #53e3a6;
    margin-top: 30px;
    margin-bottom: 10px;
}

.scheduler_body {

    padding-top: 50px;
    padding-bottom: 20px;
}
 
.scheduler_container{
    width:100%;
    height:600px;
    border:1px solid #aeaeae;
}

.link-menu{
    padding: 4px 0px 0px 0px;
    width: 103px;
    float: left;
    margin-top: -2px;
    text-align:center;
}
/*new theme*/



/* 
Karma Template 
http://www.templatemo.com/preview/templatemo_403_karma 
*/

/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
html { font-size: 1em; }

body { font-family: 'Comfortaa', Arial, sans-serif; overflow-x: hidden; } 

h1, h2, p { font-family: 'Comfortaa', Arial, sans-serif; }

h1 { font-weight: 700; }

h2 { font-size: 1.5em; }

ul { margin: 0; }

section { padding-top: 85px; margin-top: -85px; }
section .outer_container { margin-bottom: 50px; background-color: #eeeeee;  }
section .row { margin-left: 0; margin-right: 0; overflow: hidden; }
section h1 { text-transform: uppercase; color: white; margin-top: 0px; margin-bottom: 0px; line-height: 280px; text-align: center; }

.templatemo_ceo img { margin-bottom: 10px; }
.templatemo_ceo p { text-align: center; }

.container { margin: 0 auto; }

/*http://css-tricks.com/vertically-center-multi-lined-text/*/
.center-row { display: table; }
.center-row .center { display: table-cell; vertical-align: middle; }

/*------------------------------------------------------
	NAVIGATION 
--------------------------------------------------------*/
nav { 
    font-size: 12px; 
    font-weight: lighter; 

}


.navbar {
	background: #DE2525;
        
	min-height: 14px;	
	border-radius: 0px; 
	border: none; 
	margin-bottom: 0px; 
    padding:0px 0px 14px 0px;
   
	
}

.navbar-default .navbar-nav>li>a {
	padding-bottom: 20px;
	color: white;
	text-transform: uppercase;
	
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.menu ul li a.current {
	color: white;
	background-color: #394665;
}

.navbar>.container .navbar-brand { 
    margin-left: 0; 

}
.navbar-collapse .navbar-nav.navbar-right:last-child { 
    margin-right: 0; 

}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #394665; }









/*------------------------------------------------------
	BOOTSTRAP OVERRIDING 
--------------------------------------------------------*/
.col-md-4, .col-md-5, .col-md-7, .col-md-8 { padding: 0; }

.btn-primary {
	font-size: 2em;
	padding-bottom: 10px;
  	background-color: rgb( 226, 90, 148 );
  	box-shadow: 0px 3px 0px 0px rgb( 180, 52, 107 );
  	width: 160px;
  	height: 55px;
  	border: none; border-radius: 0px;
  	-moz-transition: background-color .5s ease;
  	-o-transition: background-color .5s ease;
  	-webkit-transition: background-color .5s ease;
  	transition: background-color .5s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: rgb( 180, 52, 107 );
	box-shadow: 0px 3px 0px 0px rgb( 226, 90, 148 );
}



/* http://codepen.io/minimalmonkey/pen/Ecpla */

/* Wrapper */
.social_buttons .icon-button {
	background-color: #20283e;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	line-height: 100px;
	margin: 0;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 60px;
	height: 100px;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	line-height: 3.6rem;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-youtube {
	color: #c5454a;
}

/* End minimalmonkey */r-radius: 20px;
    background: rgb(210, 77, 87);
}





