
@{
    ViewBag.Title = "EventPickerView";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script>
    
</script>
<body>
<h2>EventPickerView</h2>
<div class="container-fluid">
    <div class="row">
        <div class="panel col-md-3">asdasd</div>
        <div class="panel col-md-3">asdasd</div>
        <div class="panel col-md-3">sdqew</div>
        <div class="panel col-md-3">asdzxc</div>
    </div>
</div>
</body>