@model IEnumerable<AURMS.ReservationRecord>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>

    <button name="ans" style="text-align:center" value=1>Add</button>

</p>
<p>
            @Html.ActionLink("Edit", "Edit", new { }) |
            @Html.ActionLink("Details", "Details", new { }) |
            @Html.ActionLink("Delete", "Delete", new { })
</p>

